#top {
    background-color: red;
    padding: 20px
}

#textColor {
    color: red;
    font-weight: bold;
}

#padding{
padding:20px

}

#circleImage{
border-radius: 75%;
}

#buttonColor{
background-color:blue;
}

.backgroundColor{
background-color: white;

}

#headerChange {
color:Blue;
}

a:hover{
color:red;
}
